*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color:rosybrown;
}
li{
    list-style: none;
}
b{
    color:lightpink;
    text-decoration: none;
    font-size: x-large;
}
a{
    color: lightpink;
    text-decoration: none;

    }

.navbar{
    min-height:70px ;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-link{
    transition: 0.7s ease;
}

.nav-link:hover{
    color:red
}

.hamburger{
    display: none;
    cursor:pointer;
}

.bar{
   display:block; 
   width: 25px;
   height: 3px;
   margin: 5px auto;
   -webkit-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
   background-color: black;
}

@media(max-width:768px){
  .hamburger{
    display: white;  
  }
.hamburger.active.bar:nth-child(2){
    opacity: 0;
}
.hamburger.active.bar:nth-child(1){
    transform: translate(8px) rotate(45deg);
}
.hamburger.active.bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}

}
.owl-carousel{
    position: relative;
}
.owl-carousel .owl-item{
    opacity: 0.4;
}
.owl-carousel.owl-item-active{
    opacity:1;
}
.owl-carousel.owl-nav{
    position: absolute;
    top: 50%;
}
.ftco-navbar-light.scrolled.nav-link.active{
    color: wheat !important;
}
.ftco-navbar-light.scrolled.awake{
margin-top: 0px;
transition: 0.4s all ease-out;
}
.ftco-navbar-light.scrolled.sleep{
    transition: 0.4s all ease-out;
}
.ftco-navbar-light.scrolled.navbar-brand{
    color: black;
}
.navbar-brand{
    font-weight: 900;
    font-size: 20px;
}*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color:rosybrown;
}
li{
    list-style: none;
}
b{
    color: white;
    text-decoration: none;
    font-size: x-large;
}
a{
    color: white;
    text-decoration: none;

    }

.navbar{
    min-height:70px ;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-link{
    transition: 0.7s ease;
}

.nav-link:hover{
    color:red
}

.hamburger{
    display: none;
    cursor:pointer;
}

.bar{
   display:block; 
   width: 25px;
   height: 3px;
   margin: 5px auto;
   -webkit-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
   background-color: black;
}

@media(max-width:768px){
  .hamburger{
    display: white;  
  }
.hamburger.active.bar:nth-child(2){
    opacity: 0;
}
.hamburger.active.bar:nth-child(1){
    transform: translate(8px) rotate(45deg);
}
.hamburger.active.bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}

}
.owl-carousel{
    position: relative;
}
.owl-carousel .owl-item{
    opacity: 0.4;
}
.owl-carousel.owl-item-active{
    opacity:1;
}
.owl-carousel.owl-nav{
    position: absolute;
    top: 50%;
}
.ftco-navbar-light.scrolled.nav-link.active{
    color: wheat !important;
}
.ftco-navbar-light.scrolled.awake{
margin-top: 0px;
transition: 0.4s all ease-out;
}
.ftco-navbar-light.scrolled.sleep{
    transition: 0.4s all ease-out;
}
.ftco-navbar-light.scrolled.navbar-brand{
    color: black;
}
.navbar-brand{
    font-weight: 900;
    font-size: 20px;
}